*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.site-wrapper{
  height: 100vh;
  display: grid;
  grid-template-columns: [navStart] 500px [contentColStart] auto [contentColEnd] 60px [end];
  grid-template-rows: [headerStart] 100px [contentRowStart] auto [contentRowEnd] 100px;
  grid-template-areas: 
    "sidebar header header"
    "sidebar content ."
    "footer footer footer";
}

nav{
  background: blue;
  grid-area: sidebar;
}

.header{
  background: red;
  grid-area: header;
}

.content-wrapper{
  padding: 30px;
  grid-area: content;
}

footer{
  background: yellow;
  grid-area: footer;
}